html * {
  margin: 0;
  padding: 0;
}
body {
  font-family: Calibri,sans-serif;
  background-color: #141517;
}

.page {
  max-width: 910px;
  margin: 0 auto;
  background-color: #030303;
}






